<app-dynamic-table [column]="column" [data]="data"></app-dynamic-table>


<div class="card modal" *ngIf="showModel" aria-modal="true">
    <form [formGroup]="userForm" (ngSubmit)="addCandidate()">
        <div class="">
            <div class="title"><label for="">Candidate</label></div>

            <div class="">
                <div class="">
                    <label for="">First Name</label>
                </div>
                <input type="text" formControlName="firstname">
            </div>


            <div class="">
                <div class="">
                    <label for="">Last Name</label>
                </div>
                <input type="text" formControlName="lastname">
            </div>


            <div class="">
                <div class="">

                    <label for="">Gender</label>
                </div>
                <input type="text" formControlName="gender">
            </div>


            <div class="">
                <div class="">
                    <label for="">Position</label>
                </div>
                <input type="text" formControlName="position">
            </div>

            <div class="">
                <div class="">
                    <label for="">Year</label>
                </div>
                <input type="text" formControlName="year">
            </div>
            <div>
                <button class="btn btn-danger" (click)="closeModel()">Cancel</button>
                <button class="btn btn-success" type="submit">Add</button>
            </div>
        </div>
    </form>
</div>