<aside class="header">
  <nav>
    <ul class="nav-bar">
      <div class="">
        <li><a routerLink="/dashboard"><img src="/assets/images/logo.png" alt="AIMCA" width="50" height="50"></a>
        </li>
      </div>

      <div class="nav-bar">
        <li *ngIf="isLoggedIn"><a routerLink="/users">User</a></li>
        <li *ngIf="isLoggedIn"><button (click)="logout()">Logout</button></li>
        <ng-container *ngIf="!isLoggedIn">
          <li><a routerLink="/login">Login</a></li>
          <li><a routerLink="/signup">Signup</a></li>

        </ng-container>
      </div>
    </ul>
  </nav>
</aside>