<div class="card">
    <h1>All Users</h1>
    <table>
        <thead>
            <th>Firstname</th>
            <th>Lastname</th>
            <th>Username</th>
            <th>Action</th>
        </thead>
        <tbody>
            <tr *ngFor="let user of data">
                <td>{{ user.firstname }}</td>
                <td>{{ user.lastname }}</td>
                <td>{{ user.username }}</td>
                <td>
                    <div class="">
                        <button>Edit</button>
                        <button>Delete</button>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>