<div class="accordion-grid">
  <ng-container *ngFor="let category of categories; let i = index">
    <div class="accordion" [id]="'accordion' + i">
      <div class="accordion-item">
        <h2 class="accordion-header" [id]="'heading' + i">
          <button class="accordion-button" type="button" data-bs-toggle="collapse"
            [attr.data-bs-target]="'#collapse' + i" aria-expanded="true" [attr.aria-controls]="'collapse' + i">
            {{ category }}
          </button>
        </h2>

        <div [id]="'collapse' + i" class="accordion-collapse collapse show" [attr.aria-labelledby]="'heading' + i"
          [attr.data-bs-parent]="'#accordion' + i">
          <div class="accordion-body">
            <table class="table table-bordered table-striped-columns">
              <thead class="table-header">
                <tr *ngFor="let dash of dashbaordData[category]">
                  <td>{{ dash.firstname + ' ' + dash.lastname }}</td>
                  <th class="justify-content-center">{{ dash.vote.length }}</th>
                </tr>
              </thead>
            </table>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</div>